extends base

block body

    div.content
      h2 Hello!

      if user
        p Welcome, #{user.givenName}
        
        div.button
          a.checkout(href="#") Give me an umbrella         

        p#status
        h3 There are #{_incount} umbrellas available

        p= "Outlook: " + _summary
        a.more(href="/") more

        div.fullForecast
          p= "Current Temperature: " + _temp + " F"
          p= "Precipitation Percentage: " + _precip + "%"
          p= "Nearest Storm Distance: " + _storm + " miles"

      else
        p Welcome to Umbot, sign up to stay dry.
        div.button
          a.loginbutton(href="/login") Login now
        p
          span.small Don't have an account?
          span &nbsp;
          a.small(href="/register") Register now