extends base

block vars
  - var title = 'Welcome to Umbot'
  - var bodytag = 'home'

block body

  div.content
    
    if user
      h2 Hello #{user.givenName}
      p #{_incount} umbrellas available
      
      div.button
        a.checkout(href="#") Get an umbrella         

      p#status
      br

      div#weather
        p= _summary
        canvas(width='64px' height='64')#icon
        div#temperature-wrapper= _temp +"F"
  
      - var weatherIcon = "Skycons." + _icon

      script.
        var skycons = new Skycons({"color": "black"});
        
        skycons.set("icon", #{weatherIcon});
        skycons.play();

    else
      h2 Welcome to Umbot
      p Sign up to stay dry.
      div.button
        a.loginbutton(href="/login") Login now
      p
        span.small Don't have an account?
        span &nbsp;
        a.small(href="/register") Register now

