extends layout

block log

	ol#headers
		li Activity ID
		li Time
		li Umbrella Status
		li Umbrella ID
		li Checked Out By
				
	each val, index in logrow 

		ol#rows
			li= val.id
			li= val.time
			li= "Checked " + val.activity_status
			li= val.umbrella_id
			li= val.user_name
	
